<%= render 'shared/breadcrumbs', trail: [
    { title: @course.name, href: url_for(@course)},
    { title: 'Admin', href: admin_course_url(@course)},
    'New Queue',
] %>

<div class="six wide column">
    <h1 class="ui header">
        Add Queue for <%= @course_queue.course.name %>
    </h1>

    <%= render 'form' %>
</div>
