<div class="six wide centered column">
    <% @courses.each do |course| %>
        <div class="ui fluid card" href="#">
            <div class="content">
                <div class="header"><%= course.name %></div>
                <div class="meta"><%= course.long_name %></div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Open Queues</h4>
                <div class="ui middle aligned selection list">
                    <% course.open_queues.each do |queue| %>
                        <%= render 'queue', queue: queue %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
