<div class="ui divider"></div>

<div class="padded user">
    <img class="ui avatar image" src="<%= current_user.avatar_url %>">
    <%= current_user.email %>
</div>
<div>
    <a class="github-button"
       href="https://github.com/mterwill/classroom-help-queue"
       data-icon="octicon-star"
       data-style="mega"
       data-count-href="/mterwill/classroom-help-queue/stargazers"
       data-count-api="/repos/mterwill/classroom-help-queue#stargazers_count"
       data-count-aria-label="# stargazers on GitHub"
       aria-label="Star mterwill/classroom-help-queue on GitHub">
        Star
    </a>
</div>
<div>
    <a class="github-button"
       href="https://github.com/mterwill/classroom-help-queue/issues"
       data-icon="octicon-issue-opened"
       data-style="mega"
       data-count-api="/repos/mterwill/classroom-help-queue#open_issues_count"
       data-count-aria-label="# issues on GitHub"
       aria-label="Issue
       mterwill/classroom-help-queue on
       GitHub">Issue</a>
</div>
