<div class="eight wide centered column">
    <h1>Archived Courses
        <a style="font-size: 12px; font-weight: normal;"
           href="/courses">view active &raquo;</a>
    </h1>
    <%= render 'courses' %>
</div>
