<div class="eight wide centered column">
    <h1>Active Courses
        <a style="font-size: 12px; font-weight: normal;"
           href="/courses/archive">view archive &raquo;</a>
    </h1>

    <%= render 'courses' %>

    <div class="ui message">
        <p><strong>New course?</strong> Email <a href="mailto:newcourse@eecs.help">newcourse@eecs.help</a>.</p>
    </div>

    <% if current_user.global_admin? %>
        <a class="ui large fluid primary button" href="<%= url_for admin_courses_path %>">
            Admin Panel
        </a>
    <% end %>
</div>
