<script data-cable-template="instructor_form" type="text/html">
<h4 class="ui header">Instructor Queue Management</h4>

    <div data-cable-action="queue_pop" class="ui huge bottom padded fluid primary button">Queue Pop</div>
    <div data-cable-action="instructor_toggle" class="ui large fluid button"></div>
</script>
