<h4 class="ui header">Request Help</h4>

<div class="ui form">
    <div class="field">
        <label>Name</label>
        <input type="text" value="Matt Terwilliger" disabled>
    </div>
    <div class="field">
        <label>Location</label>
        <input name="location" type="text">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea name="description" rows="2"></textarea>
    </div>
    <div data-cable-action="new_request" class="ui button" tabindex="0">Request Help</div>
</div>
