<script data-cable-template="request" type="text/html">
<div data-cable-type="request" data-template="true" class="comment">
    <a class="avatar">
        <img data-field="requester.avatar_url">
    </a>
    <div class="content">
        <span data-field="requester.name" class="author">
        </span>
        <span data-field="requester.email" class="metadata">
        </span>
        <div class="ui slightly padded list">
            <div class="item">
                <i class="marker icon"></i>
                <div data-field="location" class="content">
                </div>
            </div>
            <div class="item">
                <i class="clock icon"></i>
                <div data-field="created_at" class="content">
                </div>
            </div>
            <div class="item">
                <i class="write icon"></i>
                <div data-field="description" class="content">
                </div>
            </div>
        </div>

        <div data-require-privilege="admin" class="actions">
            <a data-cable-action="resolve_request">
                Resolve
            </a>

            <a data-cable-action="destroy_request">
                Delete
            </a>
        </div>
    </div>
</div>
</script>

