<%= render 'shared/breadcrumbs', trail: [
    { title: @course_queue.course.name, href: url_for(@course_queue.course) },
    @course_queue.name
] %>

<div class="sixteen wide column">
    <%= render 'header', instructors: @course_queue.online_instructors %>
</div>

<div class="sixteen wide column" data-cable-container="messages">

</div>

<div class="six wide column">
    <div data-cable-container="action-content" class="ui disabled loading min segment">
    </div>
</div>

<div class="ten wide column" id="queue"></div>

<script type="text/babel">
    ReactDOM.render(
      <RequestBox />,
      document.getElementById('queue')
    );
</script>
