<%= render 'shared/breadcrumbs', trail: [
    { title: @course_queue.course.name, href: url_for(@course_queue.course) },
    @course_queue.name
] %>

<div class="sixteen wide column">
    <%= render 'header', instructors: @course_queue.online_instructors %>
</div>

<div id="app" class="sixteen wide column"></div>

<script type="text/babel">
    ReactDOM.render(
      <CourseQueue id={<%= @course_queue.id %>} />,
      document.getElementById('app')
    );
</script>
