.main {
    padding-top: 25px;
}

.slightly.padded.list {
    margin-top: 5px;
}

.ui.list > .item > i.icon {
    padding-right: 0!important;
}

.bottom.padded {
    margin-bottom: 10px!important;
}

.centered.cards {
    justify-content: center;
}

.centered.text {
    text-align: center;
}

.padded.user {
    padding-top: 10px;
    padding-bottom: 20px;
}

.min.segment {
    min-height: 100px;
}

.ui.comments {
    max-width: none!important;
}
