.main {
    padding-top: 25px;
}

.slightly.padded.list {
    margin-top: 5px;
}

.ui.list > .item > i.icon {
    padding-right: 0!important;
}

.centered.cards {
    justify-content: center;
}

.centered.text {
    text-align: center;
}

.padded.user {
    padding-top: 10px;
    padding-bottom: 20px;
}
