<table class="ui table">
    <thead>
        <tr><th style="width: 50%">Name</th>
            <th style="width: 50%">Email</th>
            <th>
                <a href="<%= new_admin_course_instructor_url(@course) %>" class="ui primary fluid labeled icon button">
                    <i class="plus icon"></i>
                    Add
                </a>
            </th>
    </tr></thead>
    <tbody>
        <% instructors.each do |course_instructor| %>
            <tr>
                <td><%= course_instructor.instructor.name %></td>
                <td><%= course_instructor.instructor.email %></td>
                <td>
                    <div class="ui fluid basic buttons">
                        <%= link_to 'Delete', admin_course_instructor_path(course_instructor),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
