<% uri = promote_admin_course_instructors_url(@course) %>

<div class="ui message">
    <div class="content">
        Instructors may self-enroll with code <strong><code><%= code %></code></strong> at
        <a href="<%= uri %>"><%= uri %></a>.
    </div>
</div>
